body {
	width: 846px;
	background-image: url('images/stressed_linen.png');
	margin-left: auto;
	margin-right: auto;
}

.container {
	width:846px;
	margin-left: auto;
	margin-right: auto;
}

.player-list {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 3px;
	overflow: hidden;
	background-color: rgb(77, 77, 77);
	background: url('images/grey_wash_wall.png');
	border: 1px solid rgb(247, 255, 156);
	margin-left: auto;
	margin-right: auto;
}

.player-rank {
	width: 600px;
	padding: 5px;
	background-color: rgb(247, 255, 156);
	margin-left: auto;
	margin-right: auto;
}

.friend {
	float: left;
	width: 200px;
	text-align: center;
	background: url('images/use_your_illusion.png');
	padding: 3px;
	margin-bottom: 2px;
	margin-left: 5px;
}

.url {
	padding-left: 5px;
	color: white;
}

.generation {
	font-size: 9pt;
	text-align: center;
	width: 610px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.ranking {
	display: inline-block;
	width: 12%;
}

.score {
	display: inline-block;
	width: 8%;
}

.player {
	display: inline-block;
	width: 30%;
}

.algorithm {
	display: inline-block;
	width: 47%;
}

.rank {
	width: 100%;
}

.tank {
	width: 100%;
}